.home {
  background-color: #000000;
}
.home mGrid {
  background-color: #141414;
  color: #282828;
}

.home profileButton {
  color: #141414;
}

.chatList {
  color: #141414;
  background-color: #141414;
}
